* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  /* ### Accent */
  --Blue: hsl(248, 32%, 49%);
  /* ### Neutral */
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--Red);
  background-image: url(./images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--White);
  height: 100vh;
  width: auto;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 70px;
  padding: 130px 50px 70px 50px;
}

.left {
  width: 100%;
  padding: 15px 50px 50px 10px;
}

.title {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1px;
}

.description {
  font-size: 13px;
  margin-top: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.smallbox {
  width: 95%;
  height: 50px;
  background-color: var(--Blue);
  padding: 14px;
  text-align: center;
  border-radius: 6px;
  font-size: 15px;
}

.bigbox {
  width: 95%;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 25px;
  margin-top: 10px;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

input {
  height: 45px;
  width: 100%;
  padding: 5px 20px;
  border-radius: 5px;
  border: thin solid #0000007a;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

input:focus {
  border-color: #007bff;
}
.input-container img {
  display: block;
}

img {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-73%);
}

span {
  position: absolute;
  top: 80%;
  left: 52%;
  font-size: 12px;
  color: #ff7979;
  margin-top: 4px;
  display: none;
  justify-content: flex-end;
}

.btn {
  height: 45px;
  width: 100%;
  margin-bottom: 7px;
  padding: 5px 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: #0000007a;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: bold;
  color: var(--White);
  background-color: var(--Green);
  cursor: pointer;
}

.terms {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.link {
  color: red;
  text-decoration: none;
  font-weight: 700;
}

/* ///////////////////////////////////////// MOBILE VIEW ///////////////////////////////////////// */

@media (max-width: 376px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
  }
  .main {
    flex-direction: column;
    margin: 10px 15px;
    padding: 40px 20px 40px 20px;
  }
  .left {
    width: 100%;
    padding: 15px 10px 15px 10px;
  }
  .title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
  }
  .description {
    font-size: 12px;
    margin: 15px 0px 20px 0px;
    text-align: center;
    padding: 0px 20px;
  }
  .smallbox {
    height: 55px;
    padding: 10px 36px;
    font-size: 12px;
  }
  .bigbox {
    padding: 12px;
    margin-top: 20px;
  }
  input {
    font-size: 11px;
    margin: 5px 0px;
  }
  .btn {
    font-size: 11px;
    letter-spacing: 1px;
  }
  .terms {
    font-size: 8px;
    margin-top: 5px;
    padding: 0px 25px;
  }
  img {
    top: 56%;
    width: 18px;
    height: 18px;
    transform: translateY(-69%);
  }
  span {
    top: 90%;
    left: 34%;
    font-size: 9px;
  }
}
